.mb-4 {
  margin-bottom: 1rem;
} // 16px
.mb-8 {
  margin-bottom: 2rem;
} // 32px
.mb-16 {
  margin-bottom: 4rem;
} // 64px
.mb-18 {
  margin-bottom: 4.5rem;
} //72px
.mb-24 {
  margin-bottom: 6rem;
} // 96px;
